{% extends "base.html"%}
{% load static %}
{% block title%}Cadastro{% endblock %}
{% block filtro%} {% endblock %}

{% block content %}

<div class="card-body py-5 px-md-5 ">

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-8 border rounded-3 py-4 shadow mx-md-n5 ">
            <div class="container">
                <h2 class="fw-bold mb-5">Cadastro</h2>
                <form class="row g-3" onsubmit="return verificarSenhas(event)">
                    <div class=" col-12">
                        <label for="floatingInput">Nome:</label>
                        <input type="text" class="form-control rounded-3" id="nome" name="nome" maxlength="100" required="">
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingPassword">Senha:</label>
                        <input type="password" id="senha" name="senha" class="form-control rounded-3" minlength="8" maxlength="20" required="">
                        <input type="checkbox" id="mostrarSenha" onclick="mostrarOcultarSenha()"> Mostrar
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingPassword">Repita a Senha:</label>
                        <input type="password" id="repitaSenha" class="form-control rounded-3" minlength="8" maxlength="20" required="">
                        <input type="checkbox" id="mostrarSenhaRep" onclick="mostrarOcultarSenhaRep()"> Mostrar
                    </div>
                    
                    <div class=" col-md-6">
                        <label for="floatingEmail">Email:</label>
                        <input type="email" class="form-control rounded-3" id="email" name="email" maxlength="100"  required="">
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingTel">Telefone:</label>
                        <input type="tel" class="form-control rounded-3" id="telefone" maxlength="15" name="telefone"  required="">
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingNumber">Endereço:</label>
                        <input type="text" id="endereco" name="endereco" inputmode="numeric" class="form-control rounded-3" title="Digite Sua Matricula ou CPF"  required="" minlength="7" maxlength="14">
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingNumber">Cidade:</label>
                        <input type="text" id="cidade" name="cidade" inputmode="numeric" class="form-control rounded-3" title="Digite Sua Matricula ou CPF"  required="" minlength="7" maxlength="14">
                    </div>
                    <div class=" col-md-6">
                        <label for="floatingNumber">Matricula | CPF:</label>
                        <input type="text" id="matricula_cpf" name="matricula_cpf" inputmode="numeric" class="form-control rounded-3" title="Digite Sua Matricula ou CPF"  required="" minlength="7" maxlength="14">
                    </div>
                    <div class="col-md-6">
                        <label for="imputCurso" >Curso:</label>
                        <select id="curso" class="form-select" required="">
                            <option>InfoWeb</option>
                            <option>Edific</option>
                            <option>Mamb</option>
                            <option>Outros</option>
                        </select>
                    </div>
                    <button class="btn botoes shadow-lg rounded-pill px-3 " type="submit">Realizar Cadastro</button>
                    </button>
                    <div>
                        <a> Já tem uma conta? 
                           
                        </a>  
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>



  <script>  
    // senhas //
    function mostrarOcultarSenha() {
        var senha = document.getElementById("senha");
        var checkbox = document.getElementById("mostrarSenha");
        if (checkbox.checked) {
            senha.type = "text";  
        } else {
            senha.type = "password";  
        }
    }
    function mostrarOcultarSenhaRep() {
        var senha2 = document.getElementById("repitaSenha");
        var checkbox = document.getElementById("mostrarSenhaRep");
        if (checkbox.checked) {
            senha2.type = "text";  
        } else {
            senha2.type = "password";  
        }
    }
    // verificar senhas //
    function verificarSenhas(event) {
        event.preventDefault();

        var senha = document.getElementById("senha").value;
        var repitaSenha = document.getElementById("repitaSenha").value;

        if (senha !== repitaSenha) {
            document.getElementById("erroSenha").style.display = "inline";
            return false;
        } else {
            document.getElementById("erroSenha").style.display = "none";
            alert("Cadastro realizado com sucesso!");

            window.location.href = "{% url 'index' %}";

            return true;
        }
    }
    // senhas //

    // telefone //
    document.getElementById('telefone').addEventListener('input', function (e) {
        let telefone = e.target.value;
        
        telefone = telefone.replace(/\D/g, "");
        
        if (telefone.length > 10) {
            telefone = telefone.replace(/^(\d{2})(\d{5})(\d{4}).*/, "($1) $2-$3");
        } else if (telefone.length > 5) {
            telefone = telefone.replace(/^(\d{2})(\d{4})(\d{0,4}).*/, "($1) $2-$3");
        } else if (telefone.length > 2) {
            telefone = telefone.replace(/^(\d{2})(\d{0,5})/, "($1) $2");
        } else if (telefone.length > 0) {
            telefone = telefone.replace(/^(\d{0,2})/, "($1");
        }
        
        e.target.value = telefone;
    });
    // telefone //
</script>
{% endblock %}