{% extends "base.html" %}
{% load static %}
{% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ post.capa.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1 class="post-title">{{post.titulo}}</h1>
                            <h2 class="post-subtitle">{{post.subtitulo}}</h2>
                            <span class="meta">
                                postado por
                                <a href="#!">{{post.usuario}}</a>
                                em {{post.data_criacao}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
{% endblock %}
{% block content %}

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p class="post-content">{{post.conteudo}}</p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
{% endblock content %}     